body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 0;
    padding-top: 50px;
}

header {
    background-color: #333;
    min-height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}
.navbar li {
    margin: 0 15px;
}
.navbar li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    text-align: center;
}
.navbar li a:hover {
    background-color: #111;
    border-radius: 4px;
}

.container #info p {
    display: inline-block;
}

.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#info p {
    display: inline-block;
    margin-right: 40px;
}

.container {
    display: flex;
    align-items: flex-start;
    margin: 20px auto;
    max-width: 1400px;
    padding: 20px;
}

.descriptions video {
    width: 700px;
    height: 400px;
}

.descriptions h3 {
    margin-bottom: 40px;
}

.descriptions p {
    margin-bottom: 40px;
    justify-content: right;
}

.descriptions {
    margin-right: 40px;
}

footer {
    min-height: 100px;
    position: relative;
    background-color: #333;
}